body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.cart {
    position: relative;
    cursor: pointer;
}

.cart img {
    width: 30px;
    height: 30px;
}

.cart span {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(0, 255, 8);
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
}

.product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0, 255, 8);
    padding: 15px;
    text-align: center;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    max-height: 100px; 
    object-fit: cover; 
}

.product-card h2 {
    font-size: 16px;
    margin: 10px 0;
    font-weight: normal; 
}

.product-card p {
    font-size: 14px;
    color: #888;
}

.product-card button {
    background-color: rgb(0, 255, 8);
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.product-card button:hover {
    background-color: #42684a;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

#cart-items li button {
    background-color: rgb(0, 255, 8);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
}
